<!doctype html>
<html>
  <%- partial('_partial/head') %>
  <body>
    <div class="flex-center">
      <div class="container">
        <%- partial('_partial/header') %>
        <article>
          <%- page.content %>
        </article>
        <hr/>
        <address>
          Designed and built with <i class="fa fa-heart"></i> by <a href="https://github.com/xcatliu/">@xcatliu</a>.
        </address>
      </div>
      <div class="hide-on-mobile" style="padding:0 30px;">
        <p class="text-center">Scan to view on mobile</p>
        <p><img alt="qrcode" src="img/qrcode.png" width="196"/></p>
      </div>
    </div>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-45256157-10', 'auto');
      ga('send', 'pageview');
    </script>
  </body>
</html>
