{
    extends: [
      "stylelint-config-standard"
    ],
    rules: {
      "custom-property-empty-line-before": null,
      "value-list-comma-newline-after": null,
      "indentation": 4,
      "rule-empty-line-before": null,
      "at-rule-empty-line-before": null,
      "declaration-empty-line-before": null,
      "comment-empty-line-before": null,
      "max-empty-lines": null
    }
}
