.theme-header {
  margin-left: -14px;
  margin-right: -14px;
  border-bottom: 1px solid #ddd;
}

.theme-nav-item-icon {
  color: #666;
  font-size: 30px;
  line-height: 50px;
  display: inline-block;
  width: 60px;
}

.theme-nav-item-current .theme-nav-item-icon {
  color: inherit;
}

.theme-nav-item-img {
  height: 30px;
  margin: 10px 15px;
  -webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
  filter: grayscale(100%);
}

.theme-nav-item-current .theme-nav-item-img {
  -webkit-filter: grayscale(0); /* Chrome, Safari, Opera */
  filter: grayscale(0);
}

.theme-nav-item-current .theme-nav-item-link {
  border-bottom: 3px solid #0080ff;
  margin-bottom: -2px;
}
