.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-muted {
  color: $color-text-muted;
}

.text-primary {
  color: $color-primary;
}

.text-danger {
  color: $color-danger;
}

a.text-muted,
a.text-primary,
a.text-danger {
  text-decoration: underline;
}

.text-small {
  font-size: $font-size-small;
}
