.container,
.container-wider,
.container-fluid {
  overflow: hidden;
  padding: 0 $width-gap $width-gap;
  flex-grow: 1;
}

.container {
  max-width: $max-width-container;
}

.container-wider {
  max-width: $max-width-container-wider;
}
