<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Mobi.css</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png" href="favicon.png"/>
    <link rel="stylesheet" href="css/mobi.min.css">
    <link rel="stylesheet" href="css/github.css">
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/font-awesome-4.6.3/css/font-awesome.min.css">
  </head>
  <body>
    <!--[if lt IE 9]>
      <p style="text-align: center!important; margin: 0 0 0.5em!important; background-color: #d9534f!important; color: #fff!important; padding: 0.5em 1em!important;">You are using an <strong>outdated</strong> browser. Please <a style="color: #fff!important; text-decoration: underline!important;" href="http://browsehappy.com/?locale=en">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <div class="container">
      <article class="article">
        <%- docs %>
      </article>
    </div>
    <div class="container-side">
      <div class="section">
        <p class="text-center">Scan to view on mobile</p>
        <p><img alt="qrcode" src="img/qrcode.png"/></p>
      </div>
    </div>
  </body>
</html>
