/*! mobi-plugin-form v1.0.0 https://mobi-css.github.io/mobi-plugin-form/ */
@charset "UTF-8";
.form {
  margin: 0; }
  .form label {
    border: 1px solid transparent;
    cursor: pointer;
    display: block;
    line-height: 1.25;
    margin-top: 15px;
    padding-bottom: 5px;
    padding-top: 5px; }
  .form [type=text],
  .form [type=password],
  .form [type=email],
  .form [type=search],
  .form [type=url],
  .form [type=tel],
  .form [type=number],
  .form textarea,
  .form select {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 3px;
    color: #333;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Hiragino Sans GB", "Microsoft Yahei", "微软雅黑", Arial, Helvetica, STHeiti, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 16px;
    padding: 5px;
    display: block;
    line-height: 1.25;
    margin: 15px 0 0;
    width: 100%; }
    .form [type=text]:focus,
    .form [type=password]:focus,
    .form [type=email]:focus,
    .form [type=search]:focus,
    .form [type=url]:focus,
    .form [type=tel]:focus,
    .form [type=number]:focus,
    .form textarea:focus,
    .form select:focus {
      border-color: #2680d9;
      outline: 0; }
  @media (max-width: 767px) {
    .form [type=time],
    .form [type=week],
    .form [type=month],
    .form [type=date],
    .form [type=datetime-local] {
      margin: 15px 0 0; } }
  @media (min-width: 768px) {
    .form [type=time],
    .form [type=week],
    .form [type=month],
    .form [type=date],
    .form [type=datetime-local] {
      -webkit-appearance: none;
         -moz-appearance: none;
              appearance: none;
      background-color: white;
      border: 1px solid #ddd;
      border-radius: 3px;
      color: #333;
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Hiragino Sans GB", "Microsoft Yahei", "微软雅黑", Arial, Helvetica, STHeiti, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
      font-size: 16px;
      padding: 5px;
      display: block;
      line-height: 1.25;
      margin: 15px 0 0;
      width: 100%; }
      .form [type=time]:focus,
      .form [type=week]:focus,
      .form [type=month]:focus,
      .form [type=date]:focus,
      .form [type=datetime-local]:focus {
        border-color: #2680d9;
        outline: 0; } }
  .form [type=checkbox],
  .form [type=radio] {
    cursor: pointer;
    margin: 0 5px 0 0; }
  .form select {
    cursor: pointer; }
  .form [type=file],
  .form [type=range] {
    display: block;
    line-height: 1.25;
    margin: 15px 0 0;
    width: 100%;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    cursor: pointer;
    padding-bottom: 5px;
    padding-top: 5px; }
  .form [type=color],
  .form [type=image] {
    cursor: pointer;
    display: block;
    margin: 15px 0 0; }
  .form [disabled] {
    cursor: default;
    opacity: 0.5;
    pointer-events: none; }
  .form [readonly] {
    background-color: #f2f2f2; }
