/*! mobi-plugin-table v1.0.0 https://mobi-css.github.io/mobi-plugin-table/ */
.table {
  background-color: white;
  border: 0;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%; }
  .table caption {
    caption-side: bottom;
    color: #777;
    font-size: 85%;
    padding: 5px;
    text-align: left; }
  .table th,
  .table td {
    border: 0;
    border-bottom: 1px solid #ddd;
    padding: 5px;
    text-align: left; }
  .table th {
    background-color: #f2f2f2;
    font-weight: 600; }
