.site-principles .fa {
  color: #333;
  font-size: 6rem;
}

/* fa-mobile is a little smaller than others, so use scale to enlarge it. */
.site-principles .fa-mobile {
  transform: scale(1.35);
}

.site-example {
  padding: 16px;
  border: 1px solid #ddd;
}

.site-example + pre {
  margin-top: 0;
  border: 1px solid #ddd;
  border-top: 0;
}

.site-row-example {
  padding: 16px 32px;
}

.site-row-example .col,
.site-row-example .col-half,
.site-row-example .col-third,
.site-row-example .col-quarter,
.site-row-example .col-remain {
  padding-top: 16px;
  padding-bottom: 16px;
  background-color: #dff0d8;
  border: 1px solid #d0e9c6;
}
