<% if (theme.menu && Object.keys(theme.menu).length) { %>
  <header class="theme-header">
    <nav class="flex-left">
      <% Object.keys(theme.menu).filter(key => theme.menu[key].align !== 'right').forEach(key => { %>
        <%- partial('header_item', theme.menu[key]) %>
      <% }) %>
      <div class="unit"></div>
      <% Object.keys(theme.menu).filter(key => theme.menu[key].align === 'right').forEach(key => { %>
        <%- partial('header_item', theme.menu[key]) %>
      <% }) %>
    </nav>
  </header>
<% } %>
