<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>

  <%- css(['css/mobi.css/mobi.min.css', 'css/font-awesome-4.6.3/css/font-awesome.min.css', 'css/mobi-theme.css']) %>
  <%- css(['assets/css/site.css']) %>

  <% if (theme.favicon) { %>
    <%- favicon_tag(theme.favicon) %>
  <% } %>

  <title><%= (page.title ? (page.title + ' | ') : '') + config.title %></title>
</head>
