// Mobi.css overrides
//
// Copy variables from `_variables.scss` to this file to override default values
// without modifying source files.

// A simple example

// $color-text: #aaa !default;
// $color-text-muted: #777 !default;
// $color-text-danger: hsl(0, 100%, 60%) !default;

// $color-background: #444 !default;
// $color-background-over: rgba(255, 255, 255, 0.05) !default;
// $color-background-back: #333 !default;

// $color-border: #555 !default;

// // `body` and `container`
// $color-text-body: $color-text !default;
// $color-background-body: $color-background-back !default;
// $color-background-container: $color-background !default;

// // Links
// // hsl is easy to modify
// $color-text-link: hsl(50, 100%, 50%) !default;
// // Use rgba so it can nesting
// $color-background-active: rgba(255, 255, 255, 0.1) !default;

// // Codes
// $color-background-code: $color-background-over !default;
// $color-background-pre: $color-background-over !default;

// // `blockquote`
// $color-text-blockquote: $color-text-muted !default;

// // `mark`
// $color-background-mark: #ff0 !default;

// // Tables
// $color-background-table: $color-background !default;
// $color-background-th: $color-background-over !default;

// // Forms
// // For `input`s which is not a button
// $color-background-input: $color-background !default;
// // For focused input
// $color-border-input-focus: hsl(50, 100%, 60%) !default;
// // For buttons
// $color-background-btn: $color-background-back !default;
// $color-text-btn-primary: $color-background !default;
// $color-background-btn-primary: hsl(80, 50%, 50%) !default;
// $color-text-btn-danger: $color-text-danger !default;
