.form {
  margin: 0;

  label {
    cursor: pointer;
    display: block;
    margin-top: $width-gap;
    padding-bottom: $width-padding-bottom-label;
    padding-top: $width-padding-top-label;
  }

  // Text inputs + Select inputs
  [type=text],
  [type=password],
  [type=email],
  [type=search],
  [type=url],
  [type=tel],
  [type=number],
  textarea,
  select {
    @include input-block();
    @include input-and-button();
  }

  @media (max-width: $width-container-breakpoint - 1px) {
    [type=time],
    [type=week],
    [type=month],
    [type=date],
    [type=datetime-local] {
      margin: $width-gap 0 0;
    }
  }

  @media (min-width: $width-container-breakpoint) {
    [type=time],
    [type=week],
    [type=month],
    [type=date],
    [type=datetime-local] {
      @include input-block();
      @include input-and-button();
    }
  }

  [type=checkbox],
  [type=radio] {
    cursor: pointer;
    margin: $margin-checkbox-radio;
  }

  select {
    // Reset the default angle-down icon
    @include background-icon-angle-down();
    cursor: pointer;
  }

  [type=file],
  [type=range] {
    @include input-block();
    cursor: pointer;
    padding: $padding-file;
  }

  [type=color],
  [type=image] {
    cursor: pointer;
    display: block;
    margin: $width-gap 0 0;
  }

  [disabled] {
    @include disabled();
  }

  [readonly] {
    background-color: $color-background-btn;
  }
}

.btn {
  @include btn();
}

.btn-primary {
  @include btn-primary();
}

.btn-danger {
  @include btn-danger();
}
