@import 'variables';

body {
  background: $color-light-gray;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: flex-start;
}

.container {
  flex: 1 auto;
  background: white;
  overflow: hidden;
  width: 100%;
  min-width: $container-min-width;
  max-width: $container-max-width;
  padding: $container-padding;
  min-height: 100%;
}
.container-side {
  display: none;
  width: $container-side-width;
  padding: $container-padding;
}

@media (min-width: $container-breakpoint-width) {
  .container-side {
    display: block;
  }
}
