@import 'variables';

body {
  background: $color-body-background;
}

.container {
  overflow: hidden;
  box-sizing: border-box;
  width: 100%;
  min-width: $container-min-width;
  max-width: $container-max-width;
  min-height: 100%;
  margin: 0 auto;
  outline: $container-padding-width solid white;
  padding: $container-padding;
  background: white;
}
.container-side {
  display: none;
  box-sizing: border-box;
  width: $container-side-width;
  padding: $container-side-padding;
}

@media (min-width: $container-breakpoint-width) {
  body {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }
  .container {
    flex: 1 auto;
    margin: 0;
    outline: 0;
    padding-left: 2 * $container-padding-width;
    padding-right: 2 * $container-padding-width;
  }
  .container-side {
    display: block;
  }
}

.section {
  margin: $section-margin;
}

.paragraph {
  margin: $paragraph-margin;
}

.row {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-left: -$container-padding-width;
  margin-right: -$container-padding-width;
}

.col {
  flex: 1 0 0;
  max-width: 100%;
  padding: 0 $container-padding-width;
}
