@mixin scroll-view() {
  max-height: $max-height-scroll-view;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

@mixin background-icon-angle-down() {
  background: $background-image-angle-down right 8px center no-repeat;
  background-size: 8px 8px;
  padding-right: 25px;
}

@mixin flex-container() {
  display: flex;
  flex-flow: row nowrap;
}

@mixin flex-width($percentage) {
  flex-basis: $percentage;
  max-width: $percentage;
}


//
// Forms
//

@mixin input-and-button() {
  appearance: none;
  background-color: $color-background;
  border: $width-border solid $color-border;
  border-radius: $width-border-radius;
  // Follow the color of body text
  color: $color-text;
  font-family: $font-family;
  font-size: $font-size;
  padding: $width-padding-input 2 * $width-padding-input;

  &:focus {
    border-color: $color-text-primary;
  }
}

@mixin input-block() {
  display: block;
  line-height: $line-height-input;
  margin: $width-gap 0 0;
  width: 100%;
}

@mixin button() {
  background-color: $color-background;
  cursor: pointer;
  text-align: center;

  &:hover,
  &:active {
    text-decoration: none;
  }
}

@mixin disabled() {
  cursor: default;
  opacity: 0.5;
  pointer-events: none;
}

@mixin btn() {
  @include input-block();
  @include input-and-button();
  @include button();

  background-color: $color-background-over;

  &[disabled] {
    @include disabled();
  }
}

@mixin btn-primary() {
  background-color: $color-background-primary;
  border-color: $color-background-primary;
  color: $color-background;

  &[disabled] {
    @include disabled();
  }
}

@mixin btn-danger() {
  background-color: $color-background-danger;
  border-color: $color-background-danger;
  color: $color-background;

  &[disabled] {
    @include disabled();
  }
}
