@mixin scroll-view() {
  max-height: $max-height-scroll-view;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

// Background image of down arrow
// Converted from https://github.com/encharm/Font-Awesome-SVG-PNG
$background-image-angle-down: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAwElEQVR42u2VPQrCQBCFcwhLC0+wv403UAQtvXwEbTyDEQt9IwrDoomzya7NPNgu731fEkiaRqPRaDRfYq31McbZ2B3aoC1RKYSwR/GGczDGzHPh1KUN2qJNicAZpfvrZEkw+HOHNiUCK5QurHxyzi0kcHRa1r/ibKWvIUtiEniuxKTwHonjJ4ki8F8lisKHJKrA3wFwg/GOwdoE3tE1Rb+QgKz5k+B37r3fVflMpxJV4anEX+BMYklHf90ajWZMHoennlbMsO4OAAAAAElFTkSuQmCC');

@mixin background-icon-angle-down() {
  background-image: $background-image-angle-down;
  background-position: right 5px top 11px;
  background-repeat: no-repeat;
  background-size: 16px 16px;
  padding-right: 30px;
}

@mixin flex-container() {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

@mixin flex-width($percentage) {
  flex-basis: $percentage;
  max-width: $percentage;
}


//
// Forms
//

@mixin input-without-radio-and-checkbox() {
  display: block;
  line-height: $line-height;
  margin: $width-gap 0 0;
  width: 100%;
}

@mixin input-and-button() {
  -webkit-appearance: none;
  background-color: $color-background-input;
  border: $border-input;
  border-radius: $border-radius-input;
  // Follow the color of body text
  color: $color-text-body;
  font-family: $font-family;
  font-size: $font-size;
  padding: $padding-input;

  &:focus {
    border-color: $color-border-input-focus;
  }
}

@mixin button() {
  text-align: center;
  background-color: $color-background-btn;
  cursor: pointer;

  &:hover,
  &:active {
    text-decoration: none;
  }
}

@mixin disabled() {
  cursor: not-allowed;
  opacity: .5;
}

@mixin btn() {
  @include input-without-radio-and-checkbox();
  @include input-and-button();
  @include button();

  &[disabled] {
    @include disabled();
  }
}

@mixin btn-primary() {
  background-color: $color-background-btn-primary;
  border-color: $color-background-btn-primary;
  color: $color-text-btn-primary;

  &[disabled] {
    @include disabled();
  }
}

@mixin btn-danger() {
  color: $color-text-btn-danger;

  &[disabled] {
    @include disabled();
  }
}
