*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: $rem-base;
  text-size-adjust: 100%;
}

body {
  background-color: $color-background-body;
  color: $color-text-black;
  font-family: $font-family;
  font-size: $font-size;
  line-height: $line-height;
  margin: 0;
}

p,
blockquote,
table,
hr,
ul,
ol {
  margin: $width-gap 0 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: $font-weight-bold;
  margin: 2 * $width-gap 0 0;
}

h1 { font-size: $font-size-h1; }
h2 { font-size: $font-size-h2; }
h3 { font-size: $font-size-h3; }
h4 { font-size: $font-size-h4; }
h5 { font-size: $font-size-h5; }
h6 { font-size: $font-size-h6; }

a {
  color: $color-text-link;
  text-decoration: none;

  &:hover,
  &:active {
    text-decoration: underline;
  }
}

b,
strong {
  font-weight: $font-weight-bold;
}

img {
  max-width: 100%;
}

code {
  background-color: $color-background-code;
  font-family: $font-family-code;
  font-size: $font-size-code;
  padding: 2px 3px;
}

pre {
  background-color: $color-background-pre;
  font-size: $font-size-pre;
  line-height: $line-height-pre;
  margin-left: -$width-gap;
  margin-right: -$width-gap;
  max-height: $max-height-pre;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  padding: $width-gap;

  code {
    background-color: transparent;
    padding: 0;
  }
}

blockquote {
  border-left: 5px solid $color-border;
  color: $color-text-blockquote;
  padding-left: $width-gap;
}

table {
  border: 0;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

th,
td {
  border: 0;
  border-bottom: 1px solid $color-border;
  padding: 5px;
  text-align: left;
}

th {
  background-color: $color-background-th;
  font-weight: $font-weight-bold;
}

form {
  margin: 0;

  label {
    cursor: pointer;
    display: block;
    margin-top: $width-gap;
  }
}

a,
button,
input,
select,
textarea,
label {
  outline: 0;
  -webkit-tap-highlight-color: $color-background-active;
  touch-action: manipulation;
}

button,
html [type=button],
[type=reset],
[type=submit],
::-webkit-file-upload-button {
  -webkit-appearance: button;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

select,
textarea,
[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration,
input:not([type=checkbox]):not([type=radio]) {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  font: inherit;
}

[hidden] {
  display: none;
}

button,
select,
textarea,
input:not([type=checkbox]):not([type=radio]) {
  display: block;
  line-height: $line-height;
  margin: $width-gap 0 0;
  width: 100%;
}

button,
select,
textarea,
[type=button],
[type=date],
[type=datetime-local],
[type=email],
[type=month],
[type=number],
[type=password],
[type=range],
[type=search],
[type=submit],
[type=tel],
[type=text],
[type=time],
[type=url],
[type=week] {
  background-color: $color-white;
  border: 1px solid $color-border;
  border-radius: $border-radius;
  color: $color-text-black;
  font-family: $font-family;
  font-size: $font-size;
  padding: $padding-input;

  &:focus {
    border-color: $color-border-input-focus;
  }
}

[type=checkbox],
[type=radio] {
  margin: 13px 5px;
}

[type=file] {
  padding-bottom: 6px;
  padding-top: 6px;
}

button,
[type=button],
[type=submit],
[type=reset] {
  background-color: $color-background-btn;
  cursor: pointer;
}

select {
  background-image: $background-image-angle-down;
  background-position: right 5px top 11px;
  background-repeat: no-repeat;
  background-size: 16px 16px;
  padding-right: 30px;
}

[disabled] {
  background-color: $color-background-btn;
  color: $color-text-disabled;
  cursor: not-allowed;

  &::-webkit-input-placeholder {
    color: $color-text-disabled;
  }
}

ul,
ol {
  padding-left: 2 * $width-gap;
}

hr {
  border: 0;
  border-top: 1px solid $color-border;
}
