.table {
  // Reset for nesting within parents with `background-color`.
  background-color: $color-background-table;
  border: 0;
  border-collapse: collapse;
  border-spacing: 0;
  // Enable scroll-view on mobile
  width: 100%;

  caption {
    caption-side: bottom;
    color: $color-text-muted;
    text-align: left;
  }

  th,
  td {
    border: 0;
    border-bottom: $border-bottom-th-td;
    padding: $padding-table-cell;
    text-align: left;
  }

  th {
    background-color: $color-background-th;
    font-weight: $font-weight-bold;
  }
}
