.section {
  margin-top: $section-margin-top;
}

.paragraph {
  margin-top: $paragraph-margin-top;
}

.no-margin-top {
  margin-top: 0;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.scrollable {
  overflow: auto;
  width: 100%;
}
