@media (max-width: $width-breakpoint - 1px) {
  .hide-on-mobile {
    display: none;
  }
}

@media (min-width: $width-breakpoint) {
  .show-on-mobile {
    display: none;
  }
}

.scroll-view {
  @include scroll-view();
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-muted {
  color: $color-text-muted;
}

a.text-muted {
  color: $color-text-muted;
  text-decoration: underline;
}

.text-small {
  font-size: $font-size-small;
}

.text-danger {
  color: $color-text-danger;
}
