@media (max-width: $width-container-breakpoint - .1rem) {
  .hide-on-mobile {
    display: none;
  }
}

@media (min-width: $width-container-breakpoint) {
  .show-on-mobile {
    display: none;
  }
}

.scroll-view {
  @include scroll-view();
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}
