@charset "utf-8";

// fonts
$rem-base: 10px;

$font-size: 1.6rem;
$font-size-h1: 3.0rem;
$font-size-h2: 2.4rem;
$font-size-h3: 2.0rem;
$font-size-h4: 1.8rem;
$font-size-h5: 1.8rem;
$font-size-h6: 1.8rem;

$line-height: 1.5;

$font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Hiragino Sans GB",
  "Microsoft Yahei", "微软雅黑", Arial, Helvetica, STHeiti, sans-serif,
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font-family-code: Consolas, "Liberation Mono", Menlo, Courier, monospace;

// layouts
$container-padding-width: 15px;
$scrollbar-width: 17px;

$container-padding: 0 $container-padding-width 2 * $container-padding-width;
$container-side-padding:  0 2 * $container-padding-width 2 * $container-padding-width;

$container-min-width: 320px - $scrollbar-width;
$container-max-width: 768px - $scrollbar-width;
$container-side-width: 256px;
$container-breakpoint-width: 1024px;

$section-margin: 2 * $container-padding-width 0 0 0;
$paragraph-margin: $container-padding-width 0 0 0;

// colors
$color-text-black: #333;
$color-text-blockquote: #777;
$color-text-link: #0275d8;

$color-body-background: #f6f6f6;
$color-border: #ddd;
$color-code-background: #f6f6f6;
